body{
	background-color: #2A2A2A;

}
nav{
	overflow: hidden;
}
.nav{
	background-color: rgba(0,0,0,0);

}
.nav h3{
	float: left;
	color: #00FF70;
	font-family: 'Righteous', cursive;
	display: inline!important;
}
.nav li{
	display: inline;
	color: white;
	font-family: 'Righteous', cursive;
	margin-left: 1%;
	margin-right: 2%;
}
.nav ul{
	width: 30%;
	float: right;
	display: inline;
}
.articulo{
	margin-top: 2%;
	margin-right: 1%;
	margin-left: 1%;
	float: right;
	width: 31%;
	height: 200px;
}
.ilustrativo{
	width: 80%;
	height: 70%;
	margin: 0 auto;
	background: #191919;
}
.descripcion{
	text-align: center;
	font-family: 'Righteous', cursive;
	color: white;
	border: 2px solid #00d285;
	border-width: 0px 0px 2px 0px;
}
